<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Barcamp{% if title %}: {{title}}{% endif %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="/static/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/static/stylesheets/layout.css">
    <link rel="stylesheet" href="/static/stylesheets/base.css">

    <!-- jQuery and jQuery fallback 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='http://www.eleventhedition.com/js/jquery-1.5.1.min.js'>\x3C/script>")</script>
    -->
</head>
<body>

<div id="wrapper" class="container">

    <div id="header" class="row">
        <div class="twelve columns">
            <h2>Barcamp{% if chapter %}: {{chapter}}{% endif %}</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div id="content" class="twelve columns centered">
            {% block content %}{% endblock content %}
        </div>
    </div>

</div>
<!-- container -->

</body>
</html>
