{% extends "base.html" %}

{% block content %}

{% for session in sessions %}
    <div class="session">
        <h4>{{session.topic}}</h4>
        by <a href="{{session.speaker_url}}">{{session.speaker}}</a>
        <div>
            <strong>{{session.venue}}</strong>
            {{session.time}}
        </div>
    </div>
    <hr />
{% endfor %}

{% endblock content %}