{% extends "base.html" %}

{% block content %}

{% for chapter in chapters %}
    <div class="chapter">
        <a href="/{{chapter.slug}}">{{chapter.name}}</a>
    </div>
{% endfor %}

{% endblock content %}